/*
Colores: 
#E54E79; rosado fuerte
#E56385; rosado claro
#00B2A9; celeste
#75726C; gris
#EDE9E2; gris claro
*/

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

input::-webkit-input-placeholder {
  color: #BFBFBF;
}

/*Barra de Navegación*/
nav {
	width: 100%;
	position: fixed;
	z-index: 1000;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #E54E79;
	padding: 0 140px;
}

ul li {
	display: inline-block;
	float: right;
}

ul li a {
	display: inline-block;
	color: white;
	text-align: center;

	padding: 26px;
	text-decoration: none;
}

li a:hover {
	background-color: #E56385;
	color: white;
}

.logo {
	background: url(../img/logo-white.png);
	float: left;
	height: 56px;
	width: 80px;
	background-size: 100%;
	margin-top: 6px;
}

/* Imagen de Fondo */
.imagen-fondo {
	background: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg) 50% 50% / 100% no-repeat fixed;
	background-size: cover;
	margin: 0;
	height: 638px;
    text-align: center;
}

.inscripcion {
	background-color: #EDE9E2;
	width: 430px;
	height: 360px;
	position: absolute;
	top: 170px;
	right: 0;
	padding: 30px;
	box-sizing: border-box;
}

/* Sección para Inscribirse */
.inscripcion h1 {
	color: #00B2A9;
}

.inscripcion-2 {
	color: #75726C;
} 

.fono {
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	margin-bottom: 10px;
	background-color: transparent;
}

.boton-inscripcion {
	display: block;
	text-decoration: none;
	border: none;
	background-color: #E54E79;
	color: whitesmoke;
	padding: 10px 20px;
	border-radius: 14px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.info {
	padding-top: 15px;
	font-size: 12px;
	text-align: justify;
}

.info a {
	color: #E54E79;
	text-decoration: none;
}

/* Sección de Juego */
.seccion-play {
	background-color: #00B2A9;
	margin: 0 auto;
	box-sizing: border-box;
	padding-bottom: 60px;
	padding-top: 50px;
}

.seccion-play h1 {
	background-color: #EDE9E2;
	color: #75726C;
	width: 100%;
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	margin: 0 0 60px 0;
	padding: 18px 0;
}

.juego {
	background-color: #EDE9E2;
	width: 950px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 30px;
}

.juego i {
	color: #75726C;
}

.x-coor, .y-coor {
	display: inline-block;
	font-size: 30px;
	width: 40%;
	padding: 10px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	margin-bottom: 10px;
	background-color: transparent;
}


/* Botón para comenzar el juego */
.comienza-juego {
	font-size: 22px;
	margin: 20px auto;
	display: block;
	text-decoration: none;
	border: none;
	background-color: #00B2A9;
	color: whitesmoke;
	width: 95%;
	padding: 20px 20px;
	border-radius: 14px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Sección de Footer */
footer {
	background-color: #75726C;
	width: 100%;
	height: 150px;
}

footer p {
	color: whitesmoke;
	margin: 0;
	margin-bottom: 10px;
	text-align: center;
}

.links a {
	color: whitesmoke;
}

.links {
	color: whitesmoke;
	display: block;
	margin: 0px auto 20px;
	padding: 10px;
 	text-align:center;
}

.datos-alumna {
	background-color: #353431;
	width: 100%;
	height: 35%;
}

.datos-alumna p {
	margin-top: 5px;
}

.p-1 {
	display: inline-block;
	color: whitesmoke;
	padding: 10px;
	float: left;
}

.p-2 {
	padding: 10px;
	float: right;
}
